{% extends 'authentication/base.html' %}
{% block title %}delete_user page{% endblock %}


{% block content %}
<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
        <a href="#" class="navbar-brand text-black ">STUDENT</a>
        <button class="navbar-toggler btn-success" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active px-5">
                    <a class="nav-link text-white " href="{% url 'home' %}">HOME <span
                            class="sr-only"></span></a>
                </li>
                <li class="nav-item active px-5">
                    <a class="nav-link text-white" href="{% url 'about' %}">ABOUT <span
                            class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class='bx bxl-mailchimp'></i>
                        Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" style="background: #081b29; bolder: none;" aria-labelledby="profileDropdown">
                        <a class="dropdown-item " href="#">Hello, {{ user.username }}</a>
                        <a class="dropdown-item" href="{% url 'signin' %}">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="delete-user" style="">
    <div >
        <p class="text-white">Are you sure  to delete  <span class="text-info">"{{ user.username }}"?</span></p>
        <form method="post">
            {% csrf_token %}
            <button class="confirm-delete-user-button" type="submit">Confirm Delete</button>
            <button class="cancel-delete-user-button"><a class="text-decoration-none" href="{% url 'manage_users_form' %}">Cancel</a></button>
           
        </form>
    </div>
</div>
{% endblock %}
     

