<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="info-text login">
        <h2>Welcome back</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias amet, consectetur cumque error est eum harum iste laborum nulla odio officia, optio ratione rem, reprehenderit sequi suscipit tempore temporibus tenetur ut! Ad assumenda blanditiis corporis culpa, dolore, ducimus enim error esse est iusto numquam
             sequi temporibus totam!</p>
    </div>
</body>
</html>