{% extends 'authentication/base.html' %}
{% block title %}Upload Photo{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
        
        
        <button class="navbar-toggler btn-success" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarmenu">
            <ul class="navbar-nav ms-auto">
              
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class='bx bxl-mailchimp text-black-50'></i>
                        Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" style="background: #081b29; bolder: none;" aria-labelledby="profileDropdown">
                        <a class="dropdown-item " href="#">Hello, {{ user.username }}</a>
                        <a class="dropdown-item" href="{% url 'signin' %}">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="container-fluid" style="display:flex;">
    <div class="row">
        <nav id="sidebar" class="col-md-5 col-lg-1 d-md-block bg-primary sidebar  px-lg-3" style="height:180%;">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link py-3 text-white" href="#">
                            
                            STUDENT
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="{% url 'dashboard_admin'%}">
                            <i class='bx bxs-dashboard'>Dashboard</i>
                            
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link py-3 text-white" href="#" onclick="openManageUsersForm()">
                            <i class='bx bxs-user-badge'></i>
                            Manage Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-3 text-white" href="#" openUploadImageForm()">
                            <i class='bx bx-photo-album'></i>
                            Upload Image
                        </a>
                    </li>
                   
                     
                </ul>
            </div>
        </nav>


    </div>
    <div class="container">

    <br>
    <br>
          <!--          Display messages -->
         {% if messages %}
         <ul class="messages" style="font-weight:bolder">
             {% for message in messages %}
                 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
             {% endfor %}
         </ul>
        {% endif %}

    <br>
    <br>
 

    {% if predictions %}
    <div class="mt-3">
        <h4>Image Analysis Results:</h4>
        <ul>
            {% for prediction in predictions %}
            <li>{{ prediction.1 }}: {{ prediction.2|floatformat:2 }}%</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    <br>
    <br>
    <div class="container px-5">
        
        <br>
        <br>


        <div class="container bg-dark text-light mr-5">
            <div class="card text-center">
                <div class="card-hearder" >
                    <h2 class="px-5 py-5 text-dark ">Upload Photo</h2>

                </div>
                <div class="card-body">
                    <form class="px-5 text-info" style="margin-bottom:15px;" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary px-5" style="margin-top:10px;">Upload</button>
                    </form>

                </div>
            </div>
             
        </div>


        
    </div>
    


    <script>
        function openManageUsersForm() {
            window.location.href = "{% url 'manage_users_form' %}";
        }

        function openUploadImageForm() {
            window.location.href = "{% url 'upload_photo' %}";
        }
    </script>


{% endblock %}